*{



    margin: 0rem;
}






#topbox{
padding-bottom: 130px;
position: relative;
}


h1{ color: rgb(248, 248, 248);
    text-align: center; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    padding: 1.5rem;
    
    
}
a:hover{
    
    color: red;
    border-style: solid;
}
.button{

    
    background: #333;
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #666;


}
    p{
        margin-left: 4em;
       color: rgb(238, 227, 238);
        font-size: 1rem0;
        text-align:center;
         display: block;
       margin-block-start: 1em;
       margin-block-end: 1em;
       margin-inline-start: 0px; 
       margin-inline-end: 0px; padding: 1em;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    

.bg-image::before{
    content: "";
    
    position: absolute;
 background-image:  url(https://static.pexels.com/photos/248515/pexels-photo-248515.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* opacity: .955; */
  
    filter: blur(1px) brightness(0.5);

}
#para{
margin-bottom: 20px;
    color: thistle;
}
#faltoo-para{
    color: darkblue;
    font-family: cursive;
    font-size: large;
}
.content-text{
    color: rgba(0,0,0,0.2);
    font-weight: bold;
}

.content-area1{
  text-align: center;
padding-top: 100px;
}

#content-area2{
    padding: 17px;
    background: #eaeaea;
    color: #333;
}
h2.content-title{
      text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: block;
    font-size: 1.5em;
    
    font-weight: bold;
    color: rgb(63, 8, 46);
}
.card-title{
    text-align: center;
}

#section-a{

       align-items: center;
        background: #eaeaea;
        color: #333;
        padding-bottom: 2em
}
.card-content{
text-align: center;
    display: flex;
}

.card {
 background-color: rebeccapurple;
 margin: 20px;
 padding: 5px 10px;
 
  
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  
  .card-content {
    padding: 2px 16px;
  }

.content-area3{
padding:10px;
text-align: center;
}


#content-area3-para{

    color: #333;
    font-size: 1rem;
    font-family: cursive;
}

#section-b{

    display: flex;
}

#section-c{
    
    background-color: #eaeaea;
    
}
#lower-box{
    
    font-size: 150%;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #333;
}


  .box:first-child {
      width: 50%;
        background: #2c9ee6;
    }
.box{
    text-align: center;
    background-color: slategray;
    width: 50%;
}




#section-d{

    display: flex;
}




.card-img{

    width: 450px;
    height: 250px;
}


#main-footer{


    margin-top: .7em;
    padding: 2em;
    background: #000;
    color: #fff;
    text-align: center;}


.niche{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.2rem;
}
    

#main-footer a {
    color: #2690d4;
    text-decoration: none;}